/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.shrink {
  padding: auto;
  width: 80%;
}

table {
  text-align: center;
}


table tr {
  padding-left: 1em;
}

table th {
  padding-left: 1em;
}

table td {
      padding-left: 1em;
}

.hr {
  color: black !important;
  inherits: false;
}

.thick-br {
  background-color: black;
  color: black;
}

.thin-white {
  background-color: black;
}

.main {
  flex: 1 0 auto;
  color: black;
}

.mydropnav {
  color: #FFB6C1;
}

.mydropnav:hover {
  color: #4682B4;
}

footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  background-color: black;
}

.link-style {
  color: #FFB6C1;
}

.link-style:hover {
  color: #4682B4;
}

a {
  color: #4682B4;
}

a:hover {
  color: #FFB6C1;
}

.color-frame {
    border: #FFB6C1 solid 3px !important;
    outline: black solid 5px !important;
}
  
.content {
    padding-top: 70px;
}

.fixed-bottom {
  bottom: 0;
  width: 100%;
}

.login {
    display: none;
}

.logo {
        /* Set dimensions and circular shape */
  width: 400px;
  height: 200px;
  border-radius: 80%;
  background-color: Black;
  border: #FFB6C1 solid 3px !important;
  color: #FFB6C1;
  /* Text color for the letters */
  text-align: center; /* Center the text inside the circle */
  display: flex; /* Enables flexbox for positioning letters */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  font-weight: bold; /* Make the text bold */
  margin: 10 auto;
  padding: 50px;
  line-height: 300px; 
}

@media (min-width: 768px) {
  .login {
    display: block; /* Change the display property to show the element */
  }
}