<div class="text-center">
  <form (submit)="onSubmitIntervalTask(intervalTaskForm)" #intervalTaskForm="ngForm">
    <br />
    <div class="m-4">
        <label>Task Name</label>
        <input
        class="form-control"
        type="text"
        minlength="2"
        rows="4"
        name="taskName"
        ngModel
        required
        placeholder="Please Enter a Task Name"
        #taskName="ngModel"
        >
      <div *ngIf="taskName.touched && taskName.invalid">Please enter the task name.</div>
    </div>
    <br />
    <hr />
    <div>
      <button class="btn btn-outline-dark" type="submit"
      >Submit</button>
    </div>
    <br />
  </form>
</div>

