<br />
<div *ngIf="errMsg$ | async as errMsg" class="p-1 m-1">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h3>{{ errMsg }}</h3>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <hr class="thick-br"/>
</div>

<div *ngIf="successMsg$ | async as successMsg" class="p-1 m-1">
  <hr class="thick-br"/>
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h6>{{ successMsg }}</h6>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <hr class="thick-br"/>
</div>
<div *ngIf="(intervalTaskGroup$ | async) as iTG; else homepage_link">
    <div>
      <div class="text-center">
        <button class="btn btn-sm btn-outline-secondary text" id="forwardDateButton" 
        [routerLink]="['/', 'authenticated-user', 'interval', 'list']">
            Return to Interval Task Groups
        </button>
      </div>
    </div>
    <div class="mt-4 p-5 rounded">
        <div class="p-3 rounded-lg m-2">
            <div class="container text-center bg-light">
                <h1>{{ iTG.taskGroupName }}</h1>
                <h2>Every {{ iTG.intervalInDays }} Days</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Task name</th>
                            <th scope="col">Interval in Days</th>
                        </tr>
                        </thead>
                        <tbody>
                            <div *ngFor="let intervalTask of iTG.intervalTasks">
                                <app-interval-task 
                                    [intervalTask]=intervalTask 
                                    [taskGroupId]="iTG.id">
                                </app-interval-task>
                              </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<ng-template #homepage_link>
    <hr class="thick-br"/>
    <div class="text-center">
      <button class="btn btn-sm btn-outline-secondary text"
      [routerLink]="['/authenticated-user/landing']">
          Return to Homepage
      </button>
    </div>
    <hr class="thick-br"/>
</ng-template>
