<br />
<div *ngIf="errMsg$ | async as errMsg" class="p-1 m-1">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h3>{{ errMsg }}</h3>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <hr class="thick-br"/>
</div>

<div *ngIf="successMsg$ | async as successMsg" class="p-1 m-1">
  <hr class="thick-br"/>
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h6>{{ successMsg }}</h6>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <hr class="thick-br"/>
</div>
<div *ngIf="(intervalTaskGroup$ | async) as iTG; else homepage_link">
    <div class="text-center">
      <button class="btn btn-sm btn-dark" type="button"
        (click)="toggleIntervalTaskSubmitForm()">
        {{ showIntervalTaskSubmitForm ? "Never Mind, I'll submit one next time for "
        : "Click Here to add a task to the group " }} {{ iTG.taskGroupName }}
      </button>
      <br />
    </div>
    <div [hidden]="!showIntervalTaskSubmitForm"
      [style.opacity]="!showIntervalTaskSubmitForm ? '0' : '1'"
      [style.visibility]="!showIntervalTaskSubmitForm ? 'hidden' : 'visible'"
    >
      <hr class="thick-br"/>
      <app-create-interval-task-form
        [intervalTaskGroupId]=iTG.id
        (closeEvent)="closeFormHander($event)">
      </app-create-interval-task-form>
    </div>
    <hr class="thick-br"/>
    <div class="mt-3 p-2 rounded">
        <div>
            <div class="container text-center">
                <h1>{{ iTG.taskGroupName }}: Every {{ iTG.intervalInDays }} Days</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr class="row">
                            <th class="col"><h5>Task Name</h5></th>
                            <th class="col"><h5>Delete</h5></th>
                          </tr>
                        </thead>
                        <tbody>
                            <div *ngFor="let intervalTask of iTG.intervalTasks">
                                <app-interval-task 
                                    [intervalTask]=intervalTask 
                                    [taskGroupId]="iTG.id">
                                </app-interval-task>
                              </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<ng-template #homepage_link>
    <hr class="thick-br"/>
    <div class="text-center">
      <button class="btn btn-sm btn-outline-dark text"
      [routerLink]="['/authenticated-user/landing']">
          Return to Homepage
      </button>
    </div>
    <hr class="thick-br"/>
</ng-template>
