

#confirm-link {
  color: #010b3e;
  text-decoration: none;
}

#confirm-link:hover {
  color: #010b3e;
}

h5, h3 {
color: Black;
text-align: center;
}
  
  
.small-scr {
  display: none;
}
  
.capitalize {
  text-transform: capitalize;
}
  
@media screen and (max-width: 767px) {
  .small-scr {
    display: block;
  }
  
  .large-scr {
    display: none;
  }
  }