<br />
<div class="large-scr row">
    <div class="col text-center">
      <button class="btn btn-sm btn-outline-secondary middle"
        (click)="navToYsdtrdy()">Previous Day</button>
    </div>
    <div class="col">
    <h3>Daily Schedule: {{ dateFromRouteData }}
      </h3>
    </div>
    <div class="col text-center">
      <button class="btn btn-sm btn-outline-secondary middle"
      (click)="navToTmrrow()">Upcoming Day</button>
    </div>
  </div>
  <div class="small-scr">
    <h3>Daily Schedule: {{ dateFromRouteData }}</h3>
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="d-grid gap-2">
              <button class="btn btn-sm btn-outline-secondary middle"
              (click)="navToYsdtrdy()">Prev</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container">
          <div class="d-grid gap-2">
            <button class="btn btn-sm btn-outline-secondary middle"
            (click)="navToTmrrow()">Next</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div *ngIf="dailyTasks$ | async as todaysTasks" class="container">
    <hr class="thick-br"/>
    <h3>Today's Classes</h3>
    <h5>{{ todaysTasks.length }} Task(s) Scheduled Today</h5>
    <div *ngIf="todaysTasks.length > 0"
        class="table-responsive"
      >
        <table class="table">
          <thead>
            <tr class="row">
              <th class="col"><p>Date</p></th>
              <th class="col"><p>Name</p></th>
              <th class="col"><p>Confirm Completion</p></th>
            </tr>
          </thead>
          <tbody>
            <tr class="row" *ngFor="let task of todaysTasks">
              <th class="col">
                <p>{{ task.date }}</p>
              </th>
              <th class="col">
                <p>
                  <a [routerLink]="['/authenticated-user/task', task.id]">
                    {{ task.taskName }}
                  </a>
                </p>
              </th>
              <th class="col">
                <p>{{ task.status }}</p>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="thick-br"/>
    
</div>