<hr class="thick-br"/>
<h2>Monthly Schedulers Applied for {{quarterFromRouteData }} {{ yearFromRouteData }}</h2>

<div class="container content">
  <div class="text-center">
    <button class="btn btn-sm btn-outline-secondary" type="button"
      (click)="toggleApplySchedulerSubmitForm()">
      {{ showApplySchedulerSubmitForm ? "Never Mind, I'll submit one next time for "
      : "Click Here to apply a monthly scheduler to " }} {{ quarterFromRouteData }}
    </button>
    <br />
  </div>
  <div [hidden]="!showApplySchedulerSubmitForm"
    [style.opacity]="!showApplySchedulerSubmitForm ? '0' : '1'"
    [style.visibility]="!showApplySchedulerSubmitForm ? 'hidden' : 'visible'"
  >
    <hr class="thick-br"/>
    <app-apply-monthly-scheduler-form
      [quarter]=quarterFromRouteData
      [year]=yearFromRouteData>
    </app-apply-monthly-scheduler-form>
  </div>
  <hr class="thick-br"/>
</div>


<div *ngIf="mTAQ$ | async as mTAQs" class="container content">
    <div class="large-scr-tbl">
      <div class="container">
        <table class="table">
            <thead>
              <tr class="row">
                <th class="col"><h5>Monthly Task Applied Quarterly</h5></th>
                <th class="col" id="edit"><h5>Remove</h5></th>
              </tr>
            </thead>
            <tbody>
            <div *ngFor="let mTAQ of mTAQs" >
              <app-monthly-task-applied-quarterly 
                [monthlyTaskAppliedQuarterly]=mTAQ>
              </app-monthly-task-applied-quarterly>
            </div>
            </tbody>
          </table>
      </div>
    </div>
</div>