<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" 
        routerLink="/authenticated-user/landing" 
        routerLinkActive
      >
        Task Master
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li><a class="nav-link" 
            routerLink="/authenticated-user/user-profile" routerLinkActive>Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false"
            >
              Single
            </a>
            <ul class="dropdown-menu mydropnav bg-light" 
              aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item bg-light" 
                routerLink="/authenticated-user/create-task" routerLinkActive 
                >Create</a>
              </li>
              <li><a class="dropdown-item bg-light" 
                routerLink="/authenticated-user/tasks-monthly" routerLinkActive 
                >Search Monthly</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false"
            >
              Weekly
            </a>
            <ul class="dropdown-menu mydropnav bg-light" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item bg-light" 
                routerLink="/authenticated-user/weekly/create" routerLinkActive 
                >Create</a>
              </li>
              <li><a class="dropdown-item bg-light" 
                routerLink="/authenticated-user/weekly/list" routerLinkActive 
                >List</a>
              </li>
              <li>
                <a class="dropdown-item bg-light" 
                  routerLink="/authenticated-user/weekly/select-quarterly" routerLinkActive 
                >Quarterly
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false"
            >
              Monthly
            </a>
            <ul class="dropdown-menu mydropnav bg-light" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item bg-light" 
                routerLink="/authenticated-user/monthly/create" routerLinkActive 
                >Create</a>
              </li>
              <li><a class="dropdown-item bg-light" 
                routerLink="/authenticated-user/monthly/list" routerLinkActive 
                >List</a>
              </li>
              <li>
                <a class="dropdown-item bg-light" 
                  routerLink="/authenticated-user/monthly/select-quarterly" routerLinkActive 
                >Quarterly
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" 
              role="button" data-bs-toggle="dropdown" 
              aria-expanded="false"
            >
              Interval
            </a>
            <ul class="dropdown-menu mydropnav bg-light" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item bg-light" 
                routerLink="/authenticated-user/interval/create" routerLinkActive 
                >Create</a>
              </li>
              <li><a class="dropdown-item bg-light" 
                routerLink="/authenticated-user/interval/list" routerLinkActive 
                >List</a>
              </li>
              <li>
                <a class="dropdown-item bg-light" 
                  routerLink="/authenticated-user/interval/select-quarterly" routerLinkActive 
                >Quarterly
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="nav-link" href="#" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
