<div *ngIf="weeklyTaskSchedulers$ | async as weeklyTaskSchedulers" class="container content">
    <div class="large-scr-tbl">
    <hr class="thick-br"/>
    <h3>Weekly Task Schedulers</h3>
    <h5>{{ weeklyTaskSchedulers.length }} Weekly Task Schedulers(s)</h5>
    <hr class="thin-br"/>
    <div class="large-scr-tbl">
      <table class="table">
          <thead>
            <tr class="row">
              <th class="col"><h5 class="text-secondary">Day of Week</h5></th>
              <th class="col"><h5 class="text-secondary">Task Name</h5></th>
              <th class="col"><h5 class="text-secondary">Delete</h5></th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let weeklyTaskScheduler of weeklyTaskSchedulers" >
              <app-weekly-task [weeklyTaskScheduler]=weeklyTaskScheduler>
              </app-weekly-task>
            </div>
          </tbody>
      </table>
  </div>
</div>
