<ng-container *ngIf="{value: schedulersLoaded$ | async} as context">
  <div *ngIf="!context.value">
    <div class="text-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <br />
    </div>
    <br />
  </div>
</ng-container>

<div *ngIf="weeklyTaskSchedulers$ | async as weeklyTaskSchedulers" class="container content">
    <div>
      <hr class="thick-br"/>
      <h3>Weekly Task Schedulers</h3>
      <h5>{{ weeklyTaskSchedulers.length }} Weekly Task Schedulers(s)</h5>
      <hr class="thin-br"/>
      <table class="table table-styles">
          <thead class="table-styles">
            <tr class="row table-styles">
              <th class="col table-styles"><h5>Day of Week</h5></th>
              <th class="col"><h5>Task Name</h5></th>
              <th class="col"><h5>Delete</h5></th>
            </tr>
          </thead>
          <tbody>
            <div *ngFor="let weeklyTaskScheduler of weeklyTaskSchedulers; trackBy: trackByFn" >
              <app-weekly-task [weeklyTaskScheduler]=weeklyTaskScheduler>
              </app-weekly-task>
            </div>
          </tbody>
      </table>
  </div>
</div>
