<div class="mt-5">
    <footer>
      <div class="container row align-middle">
          <div class="col align-middle">
              <br />
          </div>
          <div class="col align-middle">
              <h6 class="mx-auto .h-25">
                  Task Master
              </h6>
          </div>
          <div class="col align-middle">
              <h6 class="mx-auto .h-25">
                  <span>
                    <a class="link-style" routerLink="/" routerLinkActive>Login</a>
                  </span>
              </h6>
          </div>
      </div>
  </footer>
</div>
