<tr class="row" >
    <th class="col">
        <h5 class="text-secondary">
            {{ intervalTaskGroup.taskGroupName }}
        </h5>
    </th>
    <th class="col">
      <h5 class="text-secondary">
        {{ intervalTaskGroup.intervalInDays }}
      </h5>
    </th>
    <th class="col">
      <div *ngIf="!deletionPopupVisible; else delITG" class="col text-left">
        <h5>
          <button
            class="btn btn-sm btn-outline-secondary"
            (click)="showDeletionPopup()"
            >
            Remove
          </button>
        </h5>
      </div>
      <ng-template #delITG class="row">
        <div class="col text-secondary">
          <h5>
            <button
              class="btn btn-sm btn-outline-secondary"
              (click)="hideDeletionPopup()">
              Cancel Deletion
            </button>
          </h5>
        </div>
        <div class="col text-secondary">
          <h5>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveTask()"
              >
              Confirm Removal
            </button>
          </h5>
        </div>
      </ng-template>
    </th>
</tr>
