<tr class="row" >
    <th class="col">
        <h5>
          <a [routerLink]="['/authenticated-user/interval/detail', intervalTaskGroup.id]">
            {{ intervalTaskGroup.taskGroupName }}
          </a>
        </h5>
    </th>
    <th class="col">
      <h5>
        {{ intervalTaskGroup.intervalInDays }}
      </h5>
    </th>
    <th class="col">
      <div *ngIf="!deletionPopupVisible; else delITG" class="col text-left">
        <h5>
          <button
            class="btn btn-sm btn-dark"
            (click)="showDeletionPopup()"
            >
            Remove
          </button>
        </h5>
      </div>
      <ng-template #delITG class="row">
        <div class="col">
          <h5>
            <button
              class="btn btn-sm btn-outline-dark"
              (click)="hideDeletionPopup()">
              Cancel Deletion
            </button>
          </h5>
        </div>
        <div class="col">
          <h5>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveTask()"
              >
              Confirm Removal
            </button>
          </h5>
        </div>
      </ng-template>
    </th>
</tr>
