.date-search {
    max-width: 550px;
  }
  
  a {
      color: #0098da;
    text-decoration: none;
  }
  
  a:hover {
    color: #010b3e;
  }
  
  #confirmation {
    color: #0098da;
    text-decoration: none;
  }
  
  #confirmation:hover {
    color: #010b3e;
  }
  
  
  h5, h3 {
    color: #758d97;
    text-align: center;
  }
  
  table {
      text-align: center;
  }
  
  table tr {
    padding-left: 1em;
  }
  
  table th {
    padding-left: 1em;
  }
  
  table td {
          padding-left: 1em;
  }


hr.thick-br {
    border: 2px solid #758d97;
  }
  
  hr.thin-white {
    border: 1px solid grey;
  }
  
  @media screen and (min-width: 993px) {
    .jumbotron {
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 50px;
        color: grey;
        max-width: 1050px;
      min-width: 670px;
      border: 5px solid transparent;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .jumbotron {
      margin-top: 30px;
      margin-left: 20px;
      color: white;
      max-width: 650px;
      min-width: 550px;
      border: 30px solid transparent;
    }
  }
  
  @media screen and (max-width: 767px) {
    .jumbotron {
      margin-top: 30px;
      margin-left: 15px;
      color: grey;
      max-width: 500px;
      min-width: 200px;
      border: 30px solid transparent;
    }
  }