a {
  text-decoration: none;
}

.table tr {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 1em;
}

#confirm {
  text-decoration: none;
}


h5, h3 {
  text-align: center;
}

