a {
  text-decoration: none;
}


#confirm {
  text-decoration: none;
}


h5, h3 {
  text-align: center;
}

table {
    text-align: center;
}

table tr {
  padding-left: 1em;
}

table th {
  padding-left: 1em;
}

table td {
        padding-left: 1em;
}
