<app-unauthenticated-header></app-unauthenticated-header>
<div class="main">
    <div class="container content">
        <div class="color-frame rounded">
            <div class="m-4 p-3">
                <h1 class="text-center">Website Information</h1>
                <hr class="thick-br" />
                <h4>
                    Task Master was conceived as a platform to enable freelance workers to 
                    better manage their daily lives.
                </h4>
                <br />
                <h4>
                    This platform enables users to schedule one-off tasks as well as to create "task schedulers" 
                    and "task groups" that automate the scheduling of regularly-occuring tasks.
                </h4>
                <br />
                <h4>
                    Users can apply the schedulers to specific quarters/years to implement bulk scheduling of tasks
                    in a time-saving and efficient manner.
                </h4>
                <br />
                <h4>
                    Choose between daily or monthly displays of tasks and easily confirm task completion or reschedule
                    tasks. 
                </h4>
                <hr class="thick-br" />
            </div>
        </div>
    </div>
</div>
<app-unauthenticated-footer></app-unauthenticated-footer>
