<br />
<div *ngIf="(singleTask$ | async) as singleTask else homepage_link">
    <div *ngIf="!taskRevised else revisedButton">
      <div class="text-center">
        <button class="btn btn-sm btn-outline-secondary text" id="forwardDateButton" 
        [routerLink]="['/', 'authenticated-user', 'tasks-daily', singleTask.date]">
            Return to {{ singleTask.date }} Tasks
        </button>
      </div>
    </div>
    <ng-template #revisedButton>
    <div class="text-center">
      <button class="btn btn-sm btn-outline-secondary text" id="forwardDateButton" 
      [routerLink]="['/', 'authenticated-user', 'tasks-daily', revisedDate]">
          Navigate to {{ revisedDate }}
      </button>
    </div>
    </ng-template>
    <div *ngIf="errMsg$ | async as errMsg" class="p-1 m-1">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h3>{{ errMsg }}</h3>
        <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
        data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <hr class="thick-br"/>
    </div>

    <div *ngIf="successMsg$ | async as successMsg" class="p-1 m-1">
      <hr class="thick-br"/>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <h6>{{ successMsg }}</h6>
        <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
        data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <hr class="thick-br"/>
    </div>
    <div class="mt-4 p-5 rounded">
        <div class="p-3 rounded-lg m-2">
            <div class="container text-center bg-light">
                <h1>Task Details</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Comments</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                
                        <tr *ngIf="!taskRevised  else revisedTask">
                          <td>{{ singleTask.date }}</td>
                          <td> {{ singleTask.taskName }}</td>
                          <td>{{ singleTask.comments }}</td>
                          <td>{{ singleTask.status }}</td>
                        </tr>
                        <ng-template #revisedTask>
                          <tr>
                            <td>{{ revisedDate }}</td>
                            <td> {{ singleTask.taskName }}</td>
                            <td>{{ revisedComments }}</td>
                            <td>{{ "DEFERRED" }}</td>
                          </tr>
                        </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            
                <div class="d-grid gap-2">
                  <button (click)="toggleForm()"
                    class="btn btn-sm btn-outline-secondary">
                    {{ formVisible ? "Nevermind, I'll update it later" : "Click Here to Reschedule" }}
                  </button>
                </div>

            <div class="container" [hidden]="!formVisible"
            [style.opacity]="!formVisible ? '0' : '1'"
            [style.visibility]="!formVisible ? 'hidden' : 'visible'">
            <app-reschedule-task-form
                [singleTask]=singleTask
                (closeFormEvent)="closeFormHander($event)"
                (updateCommentsEvent)="updatedCommentsHandler($event)"
                (updateDateEvent)="updatedDateHandler($event)"
            ></app-reschedule-task-form>
            </div>
        </div>
    </div>
</div>
<ng-template #homepage_link>
    <hr class="thick-br"/>
    <div class="text-center">
      <button class="btn btn-sm btn-outline-secondary text"
      [routerLink]="['/authenticated-user/landing']">
          Return to Homepage
      </button>
    </div>
    <hr class="thick-br"/>
</ng-template>